<p>
  <div class="comment_left">
    <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
    <%= comment.text %>
  </div>
  <% if user_signed_in? && comment.tweet.user_id == current_user.id %>
    <span class="trash-can" data-tweet-id = <%= "#{comment.tweet.id}" %> data-comment-id = <%= "#{comment.id}" %>><i class="fas fa-trash-alt"></i></span>
  <% end %>
</p>
