<div class="contents row">
  <div class= "session_select-content">
    <div class= "session_select-content_inner">
      <div class= "link_session link_google-omniauth">
        <div class= "google-icon-box">
          <i class="fab fa-google-plus-g icon_google"></i>
        </div>
        <div class= "session_google">Googleで登録</div>
      </div>
      <div class= "session_select">or</div>
      <div class= "link_session link_normal-session">
        <div class= "normal-session-icon-box">
          <i class="far fa-envelope icon_mail"></i>
        </div>
        <div class= "session_normal">メールアドレスで登録</div>
      </div>
    </div>
  </div>
</div>
