<div class="contents row">
  <div class= "link_session link_google-omniauth">
    <div class= "google-icon-box">
      <i class="fab fa-google-plus-square icon_google"></i>
    </div>
    <div class= "session_google">Googleで登録</div>
  </div>


</div>
